.places__place {
  display: grid;
  grid-template-columns: 47% auto;
  grid-column-gap: 39px;
  grid-row-gap: 46px;
  margin: 0 0 78px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__place {
    grid-template-columns: 47.5% auto;
    grid-column-gap: 32px;
    grid-row-gap: 47px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__place {
    grid-column-gap: 28px;
    margin-bottom: 47px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__place {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    margin-bottom: 50px;
  }
}