.cover__overlay::after {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: rgba(42, 44, 47, 0.3);
  transition: background 1s linear;
  margin: 0;
}

.cover__overlay:hover::after {
  background: rgba(42, 44, 47, 0.8);
}