.places__title {
  line-height: 76px;
  font-size: 72px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__title {
    line-height: 46px;
    font-size: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__title {
    width: 90%;
    line-height: 35px;
    font-size: 32px;
    margin: 0 auto 0;
  }
}
