.cover__title {
  z-index: 3;
  max-width: 560px;
  line-height: 76px;
  font-size: 72px;
  text-align: center;
  margin: auto auto 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    max-width: 250px;
    line-height: 35px;
    font-size: 32px;
  }
}
